body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 40px;
}

.container {
    background: rgb(255, 255, 255);
    max-width: 800px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 30px;
}

ul {
    margin-top: 5px;
}

a {
    color: #eb2525;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
